:root {
    --primary-color: #eee7e1;
    --secondary-color: #1a1919;
    --tertiary-color:  #687477;
    --quaternary-color: #e2c2b3;
    --heading-font: 'Abril Fatface', Verdana, Geneva, Tahoma, sans-serif;
    --text-font: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.section-title {
    font-size: 40px;
    font-family: var(--heading-font);
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 25%;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-side {
    padding: 20px 10px; 
    width: 19%;
    height: 80vh;
    position: sticky;
    top: 0;
}

.right-side {
    width: 80%;
    padding: 20px;
}

/*Header section start*/
header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
}

header h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: var(--heading-font);
    border-bottom: 2px solid var(--secondary-color);
}

header h1 a {
    color: var(--secondary-color);
}

header h1 a:link {
    text-decoration: none;
}

header h1 a:hover {
    font-weight: normal;
}

header .profile img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

header .profile p {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    line-height: 1.4;
} 

header nav {
    padding: 20px;
    font-family: var(--heading-font);
    font-weight: normal;
}

header nav ul {
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    font-weight: normal;
    font-size: 37px;
    color: var(--secondary-color);
}

header nav ul li a:link {
    text-decoration: none;
    transition: all 1000ms;
}

header nav ul li a:hover {
    text-decoration: line-through;
    font-size: 40px;
    font-size-adjust: 20px;
}
/*Header section end*/

/*About section start*/
.about-section {
    padding: 20px;
}

.about-section .summary{
    width: 80%;
    align-content: center;
    margin: auto;
}

.about-section .contact-button a {
    color: var(--secondary-color);
}

.about-section .contact-button a:link {
    text-decoration: none;
    text-decoration: underline;
}

.about-section .contact-button a:hover {
    text-decoration: none;
    font-style: italic;
}

.about-section .update h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
/*About section end*/