:root {
    --primary-color: #eee7e1;
    --secondary-color: #1a1919;
    --tertiary-color:  #e2c2b3;
    --heading-font: 'Abril Fatface', Verdana, Geneva, Tahoma, sans-serif;
    --text-font: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--text-font);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 16px;
}

.section-title {
    font-size: 40px;
    font-family: var(--heading-font);
    border-bottom: 3px solid;
    padding-bottom: 10px;
    text-align: center;
    margin: 20px auto 35px auto;
    width: 25%;
}

/*Header section start*/
header {
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 99999;
    padding: 8px;
}

header h1 {
    font-size: 37px;
    font-weight: normal;
    font-family: var(--heading-font);
    flex: 2;
}

header h1 a {
    color: var(--primary-color);
}

header h1 a:link {
    text-decoration: none;
}

header h1 a:hover {
    font-weight: bold;
}

header nav {
    font-family: var(--heading-font);
    font-weight: normal;
    flex: 1;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li {
    font-weight: normal;
    font-size: 37px;
    border-bottom: 1px solid var(--primary-color);
}

header nav ul li:link {
    transition: all 1000ms;
}

header nav ul li:hover {
    border-bottom: none;
    text-decoration: line-through;
    font-size: 40px;
    font-size-adjust: 20px;
}

header nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
}
/*Header section end*/

/*About section start*/
.about-section {
    padding-bottom: 20px;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 78%;
    align-items: center;
    margin: auto;
}

.about-flex .profile-img {
    flex: 1;
    margin-right: 20px;
}

.about-flex img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.about-section .summary{
    flex: 2;
}

.about-section .contact-button a {
    color: var(--secondary-color);
}

.about-section .contact-button a:link {
    text-decoration: none;
    text-decoration: underline;
}

.about-section .contact-button a:hover {
    text-decoration: none;
    font-style: italic;
}

.about-section .update h3 {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
/*About section end*/

/*Work section start*/
.work {
background-color: var(--tertiary-color);
width: 90%;
margin: 0 auto;
border-radius: 10px;
}

.work .section-title {
    width: 30%;
    padding-top: 20px;
}

.run-buddy {
    text-align: center;
}

.run-buddy a {
    position: relative;
}

.run-buddy img {
    width: 1350px;
    max-width: 1350px;
    height: auto;
    border-radius: 10px;
}

.run-bottom-left {
    position: absolute;
    bottom: 15px;
    left: 8px;
    padding: 10px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.run-buddy h3, .run-buddy p {
    text-align: left;
}

.work .flex-row-1, .work .flex-row-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-around;
    margin: 0;
}

.work-child-1, .work-child-2 {
    position: relative; 
    width: 600px;
}

.work-child-1 img, .work-child-2 img {
    width: 600px;
    border-radius: 10px;
}

.flex-row-1 .right, .flex-row-2 .right {
    text-align: right;
}

.bottom-left {
    position: absolute;
    bottom: 15px;
    left: 8px;
    padding: 10px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.bottom-right {
    position: absolute;
    bottom: 15px;
    right: 8px;
    padding: 10px;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}
/*Work section end*/

/*Contact section start*/
.contact-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: auto;
    display: block;
    width: 55%;
}

.contact-info {
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-size: 21px;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
}

.contact-info ul li a {
    color: var(--secondary-color);
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-color);
    padding-left: 5px;
    padding-right: 5px;
}

.contact-info ul li a:link {
    text-decoration: none;
    transition: all 1000ms;
}

.contact-info ul li a:hover {
    font-weight: bold;
    font-size: 30px;
    font-size-adjust: 20px;
}

.contact-form h3 {
    font-size: 20px;
}

.contact-form p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.contact-form p span {
    font-style: italic;
}

.contact-form input, .contact-form textarea {
    border: 1px solid;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
}

.contact-form textarea {
    height: 200px;
    width: 100%;
    padding: 7px 15x;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: var(--text-font);
}

.contact-form input:focus, .contact-form textarea:focus {
    outline: none;
    background-color: var(--tertiary-color);
}

.contact-form button {
    width: 100%;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-form button:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}
/*Contact section end*/

/*Foot section start*/
footer {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}
/*Footer section end*/

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 980px) {
    .section-title {
        width: 80%;
    }
    
    header {
        width: 100%;
        padding: 10px;
    }

    header h1 {
        flex: 1;
        font-size: 25px;
    }

    header nav {
        flex: 1;
    }

    header nav ul li{
        font-size: 25px;
    }

    header nav ul li:hover {
        font-size: 25px;
    }

    header nav ul li a:link {
        transition: none;
    }

    .about-section {
        width: 100%;
    }

    .about-flex {
        width: 100%;
        align-items: flex-start;
    }

    .about-section img {
        width: 225px;
        height: 225px;
    }

    .work .section-title {
        width: 85%;
    }

    .work-child-1, .work-child-2 {
        flex: 50%;
    }

    .work-child-1 img, .work-child-2 img {
        width: 40vw;
    }

    .work h3 {
        font-size: 1em;
    }

    .work p {
        font-size: .8em;
    }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER*/
@media screen and (max-width: 768px) {
    .section-title {
        width: 75%;
    }
    
    header h1 {
        font-size: 20px;
    }

    header nav ul li{
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 20px;
    }

    .about-section {
    padding-bottom: 10px;
    }

    .about-flex {
        width: 90%;
        padding: 0 20px;
        flex-direction: column;
        align-items: center;
    }

    .about-section img {
        width: 225px;
        height: 225px;
        margin-bottom: 25px;
    }

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
    header {
        flex-direction: column;
    }

    header h1 {
        align-self: center;
        font-size: 28px;
        margin-bottom: 12px;
    }

    header nav ul {
        justify-content: space-around;
    }

    header nav ul li{
        font-size: 20px;
    }

    header nav ul li:hover {
        font-size: 20px;
    }

    .about-flex {
        padding: 0 5px;
    }
    
    .work-child-1 img, .work-child-2 img {
        width: 70vw;
    }

    .run-buddy img {
        width: 85vw;
    }

    .run-bottom-left {
        left: 12px;
    }

    .work .flex-row-1, .work .flex-row-2 {
        display: block;
    }

    .work-child-1, .work-child-2 {
        width: 85%;
    }

    .work-child-1 img, .work-child-2 img {
        width: 75vw;
    }

    .bottom-left {
        left: 12px;
    }

    .bottom-right {
        right: 12px;
    }

    .work h3 {
        font-size: 1.2em;
    }

    .work p {
        font-size: 1em;
    }
    
    .contact-flex {
        width: 80%;
    }
}